---
faq:
# - question: Como fazer um teste?
#   answer: basta não fazê-lo online
---

<h1>Perguntas frequentes</h1>

{% assign s = page.faq | size %}
{% if s > 0 %}
<section class="faq">
	<ul>
		{% for item in page.faq %}
			<li><a href="#{{ item.question | slugify }}">{{ forloop.index }}. {{ item.question }}</a></li>
		{% endfor %}
	</ul>

	{% for item in page.faq %}
		<h2 id="{{ item.question | slugify}}">{{ forloop.index }}. {{ item.question }}<a class="header-link" href="#{{ item.question | slugify }}">#</a></h2>
		{{ item.answer | markdownify }}
	{% endfor %}
</section>
{% else %}
<section>
  <h6>Nenhuma pergunta ainda... Estamos aguardando...</h6>
</section>
{% endif %}