.wrapper {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 30px;
	position: relative;
}

.logo {
	img {
		height: 30px;
	}
}

.content {
	background: #fff;
	padding: 60px 0;
}

dt, h2 {
	a.header-link {
		text-decoration: none;
		color: #ccc;
		opacity: 0;
		transition: opacity ease .2s,color ease .2s;
		vertical-align: bottom;
		margin: 0 0 0 5px;

		&:hover {
			color: $link-color;
		}
	}

	&:hover a {
		opacity: 1;
	}
}

.video_wrapper {
	position: relative;
	padding-bottom: 59.5%;
	padding-top: 25px;
	height: 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

/**
* https://cloudcannon.com/deconstructions/2014/11/21/flat-css-browser-wrapper.html
*/

.image_wrapper {
	width: 100%;
	
	img {
		display: block;
		margin: 20px;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: box-shadow 0.3s ease-in;

		&:hover {
			box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
		}
	}
}

.screenshot_wrapper {
	padding: 20px 0 0;
	margin-bottom: 20px;
    border-radius: 3px;
    border-bottom: 2px solid #ccc;
    background: #ddd;
    display: inline-block;
    position: relative;
	line-height: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: box-shadow 0.3s ease-in;

	&:hover {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}
	
	.frame {
		display: block;
		height: 15px;
		position: absolute;
		top: 5px;
		left: 1px;
	}	

	span {
		height: 8px;
		width: 8px;
		border-radius: 8px;
		background-color: #eee;
		border: 1px solid #dadada;
		float: left;
		margin: 0 0 0 4px;
	}
}