---
layout: default
---

<section class="tutorial">
	<section class="sidebar sticky">
		<ul class="titles-list"></ul>
	</section>
	<section class="tutorial-content">
		<h1>{{ page.title }}</h1>

		{% if page.type == "Video" %}
			{% include youtube.html video_id=page.video_id %}

			{% if page.resources %}
				<div class="resources">
					<ul>
						{% for resource in page.resources %}
							<li><a href="{{ resource.link }}">{{ resource.name }}</a></li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
		{% endif %}
		
		<div class="tutorial-main">
			{{ content }}
		</div>
	</section>
</section>

{% if page.set %}
	{% assign set_file_name = "_sets/" | append: page.set | append: ".md" %}
	{% assign set = site.sets | where: "slug", page.set | first %}
	{% assign series_posts = site.posts | where: "set", page.set | sort: 'set_order' %}
	<div class="tutorial-series">
		<h3>Série <b><i>{{ set.title }}</i></b></h3>
		<p class="description">{{ set.description }}</p>
		
		{% include listings.html listings=series_posts numbered=true%}
	</div>
{% endif %}
{% assign related_posts = site.related_posts %}
{% assign related_posts_size = related_posts | size %}
{% if related_posts_size > 0 %}
	<div class="related">
		<h3>Material relacionado</h3>

		{% include listings.html listings=site.related_posts %}
	</div>
{% endif %}

<script src="{{ site.baseurl }}/js/main.js"></script>

<script>
	var headings = document.querySelectorAll("h2[id]");
	var sideNav = $(".titles-list");

	for (var i = 0; i < headings.length; i++) {

		var listItem = document.createElement("li");
		var insideLink = document.createElement("a");
		insideLink.innerText = headings[i].innerText;
		insideLink.href = "#" + headings[i].id;

		listItem.appendChild(insideLink);
		sideNav.append(listItem);

		var anchorLink = document.createElement("a");
		anchorLink.innerText = "#";
		anchorLink.href = "#" + headings[i].id;
		anchorLink.classList.add("header-link");

		headings[i].appendChild(anchorLink);
	}

</script>
